$colorTituloGenero:#285B77;
$backgroundColor:#18191A;
$colorTitulosMain:#8D155E;
$celesteCyberpunk:#09B3BC;
$colorTituloInfo:#4A8B49;
$colorPerifericos:#7631c5;
$amarilloCyberpunk:#B7B839;
$reqMinimos:#8C4323;
$reqRecomendados:#B7DD7E;