@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "variables.scss";


* {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    

}

/*Estilos para el header/navegador*/

header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav {
    background-color: #241A44;
    background-image: url("../fondo.png");
    height: 250px;
    width: 100%;
}

nav  {
    ul{
        li {
    border: solid 2px #1C1711;
    border-radius: 25px 25px;
    padding: 4px;
        }
}
}
    
nav  {
    ul{
        li {
            a{
                color:#d6d306;
                text-decoration: none;
            }
        }
    }
} 


.nav-link {
    color:#d6d306 !important;
    text-decoration: none;
}

.nav-link:hover {
    color: $celesteCyberpunk !important;
}

a {
    text-decoration: none;
}

/*Responsive para PC*/

@media only screen and (min-width:768px){
/*Ajustes para el navegador*/
nav {
    height: 200px;
    width: 100%;
}

nav  {
    ul{
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        flex-direction: row;
        height: 100%;
    }
}

/*Ajustes para los géneros*/
#genresGrid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex-wrap: nowrap;
    }
.generos{
    width: 100%;
    display: flex;
    justify-items: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}
#estrategia {
    margin-bottom: 100px;
}
.containerImg{
    width: 90%;
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}
.containerItem{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
    width: 20%;
}

.tituloGenero{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.gameTitle {
    height: 80px;
    display: flex;
    justify-items: center;
    align-items: center;
}

#genresContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex-wrap: nowrap;
    }
.generos{
    width: 100%;
    display: flex;
    justify-items: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}
#estrategia {
    margin-bottom: 100px;
}
.containerImg{
    width: 90%;
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}
.containerItem{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 7px;
    padding-right: 7px;
    width: 20%;
}

.tituloGenero{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}

.gameTitle {
    height: 80px;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1.2vw;
}
.genresImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Ajustes a la sección de info/specs*/
.requisitos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 100%;
    grid-template-areas: "minimos recomendados";
    margin-top: 2.5%;
}

.tituloInfo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
    grid-area: titulo;
}

.info{
    display: grid;
    height: 23.5vw;
    grid-template-columns: 35% 65%;
    grid-template-rows: 20% 80%;
    grid-template-areas: ". titulo"
                         "img desc";
}

.infoContainer{
    display: flex;
    flex-direction: column;
}

.aboutImg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding-left: 20px;
    grid-area: img;
}

.descripcion {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 90%;
    grid-area: desc;
    padding-left: 9%;
}

.minimos {
    grid-area: minimos;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 250px;
    color:#8C4323;
    padding: 2%;
    list-style-type: none;
}
.recomendados {
    grid-area: recomendados;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 250px;
    color:#B7DD7E;
    padding: 2%;
    list-style-type: none;
}


/*Ajustes para el Index*/
#grilla {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    grid-template-areas: "info playlist";
}
#playlist {
    grid-area: playlist;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoPC {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoPC {
    ul{ 
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.perifericos {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-bottom: 6.5%;
    justify-content: space-evenly;
}

.periferico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perifImg{
    margin-bottom: 10%;
}

/*Ajustes para los reviews*/

.tituloReview{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.review {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "imagen review";
    margin-bottom: 3%;
}


.reviewImg{
    grid-area: imagen;
}
.reviewText{
    grid-area: review;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

/*Responsive para celular*/

@media only screen and (max-width: 768px) {

/*Ajustes a los items de navegador*/
    nav {
        width: 100%;
    }

    nav  {
        ul{
            list-style-type: none;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    /*Ajustes a la playlist de home*/
    #playlist {
        width: 100%;
        display: flex !important;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .infoPC{
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    
    
    .infoPC {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*Ajustes al apartado de géneros*/

    .tituloGenero{
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .containerItem{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-left: 7px;
        padding-right: 7px;
        width: 100%;
    }
    
    .gameTitle {
        display: flex;
        justify-items: center;
        align-items: center;
        margin: 2.5%;
    }

    .containerImg{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;

    }
    .genresImg {
        width: 90%;
    }
    /*Ajustes al apartado de specs/información*/

    .requisitos{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "minimos"
                             "recomendados";
        margin-bottom: 5%;
    }
    .minimos{
        grid-area: minimos;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 250px;
        color:#8C4323;
        padding: 4.5%;

    }
    .recomendados{
        grid-area: recomendados;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 250px;
        color:#B7DD7E;
        padding: 4.5%;
    }

    .aboutImg{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
    }

    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    .tituloInfo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
    }
    .descripcion {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 97%;
        margin-top: 10%;
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
    }
    /*Ajustes para reviews*/

.tituloReview{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trailer{
    margin-bottom: 10%;
}

#grilla {
    height: 250vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "info"
                         "playlist";
                
}
#playlist{
    grid-area: playlist;
}

.perifericos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.periferico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10%;
}
}


/*Estilos para contenidos de página generalizados*/

img {
    object-fit: cover;
}

p {
    font-size: 20px;
    color: rgb(150, 143, 143);
}

main {
    background-color: $backgroundColor;
    margin-bottom: 4%;
}
h1 {
    color: $colorTitulosMain;
    display: flex;
    justify-content: space-evenly;
    margin-top:40px;
}
body {
    background-color: $backgroundColor;
}

/*Ajustes al index*/

.tituloPerif{
    color: $colorPerifericos;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.card {
    margin-bottom: 5%;
}

h5 {
    color:$amarilloCyberpunk;
}

.infoPC  {
    h2{
        color: $colorTituloGenero;
    }
}

/*Estilos para playlist de home*/
/*#playlist {
    width: 2vw;
    display: flex;
    position: flex;
    justify-content: space-evenly;
}
*/
/*Estilos para el texto de specs*/

.requisitos {
    p{
    font-size: 14px;
    }
}

.descripcion {
    font-size: 22px;
}


.tituloInfo {
    color:$colorTituloInfo;
}

.requisitos {
    ul{
        list-style-type: none;
    }
}

.infoPC {
    ul{
        li{
            color:#751242;
        }
    }

}

/*Estilos para el formulario en contacto*/

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.whiteText {
    color: rgb(150, 143, 143);
}
.formText{
    display: flex;
    flex-direction: column;
}
.formButton {
    background-color: rgba(255, 255, 255, 0.618);
    padding: 1.72px;
}
.formButtons{
    width: 100%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
}

form {
    padding: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: $celesteCyberpunk;
}
textarea{
    width: 100%;
}

fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: space-evenly;
    align-items: center;
    align-content: space-between;
}

.flexText{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.textContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}


/*Estilo para los reviews*/

.trailer {
    width: 90%;
    height: 30vw;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.contenedorTrailer {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.tituloReview {
    color:#969300;
}

.reviewImg{
    width: 90%;
    padding: 20px;
}

/*Estilos para la sección de géneros*/


.tituloGenero {
    color: $colorTituloGenero;
}

.genresImg{
    object-fit: cover;
}

#estrategia {
    margin-bottom: 15%;
}

/*Acá comienzan los estilos del footer*/

h3 {
    font-size: 15px;
    margin-left: 3%;
    color: rgb(150, 143, 143);
    background-color: transparent;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color:#18191ad0;
    width: 100%;
    height: 60px;
}

#logoSteamFooter {
    position: fixed;
    bottom: 0px;
    right: 30px;
    background-color: transparent;
}

.bi-steam {
    font-size: 4vh;
    color: gray;
}

.bi-steam:hover{
    color:#285B77;
}